/* ROMIKA CHAUDHARY
Calculator App - Day 12
Feb 15, 2024
File Name: style.css */

body {
    background-color: #e6dcdc;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

p {
    margin: 8px;
}

#initialValue {
    text-align: justify;
}

.container {
    width: fit-content;
    height: fit-content;
    padding: 5%;
    margin: 15% 15%;
    background-color: black;
    /* border-radius: 8%; */
}

#initialVal {
    font-size: 45px;
    text-align: right;
}

#digits {
    margin: 0px 0px;
}

#numC, #num7, #num4, #num1,
#numMix, #num8, #num5, #num2,
#numM, #num9, #num6, #num3, #numDot,
#divide, #multiply, #sub, #add, #equals {
    background-color: gray;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;

}

#num0 {
    background-color: gray;
    border-radius: 35px;
    height: 4rem;
    width: 9.75rem;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.row-1, .row-2 , .row-3, .row-4, .row-5{
    display: flex;
    column-gap: 8px;    
    align-items: center;

}