/* Romika Chaudhary
BMI Calculator: Day-13
Feb 16, 2024 */

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: skyblue;
}

h1 {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 185px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    color: red;
}

.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: black;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77)0px 20px 30px -10px;

}

input {
    outline: none;
    border: none;
    padding: 5px;
}

button {
    color: white;
    padding: 10px;
    border: 2px solid white;
    background: black;
    display: block;
    margin-top: 10%;
    cursor: pointer;
}

/* * {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 15px;
    color: black;
}

.title {
    background-color: gold;
    margin: auto;
    padding: 0%;
    width: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container {
    background-color: palevioletred;
    height: 300px;
    width: 500px;
    margin: auto;
    padding: 10px;
    align-items: center;
}

.userInput {
    margin: auto;
    padding: 10px;
    height: fit-content;
    width: 450px;
    border-radius: 3px;
    background-color: rgb(245, 118, 118);
    color: #fff;
    align-items: center;
}

#bmiMeasured {
    display: flex;
    gap: 0.5rem;
    margin: 10px;
    align-items: center;
}

#submit {
    background-color: red;
    height: 50px;
    width: 150px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 1.5rem;
    border: 1px solid red;
    cursor: pointer;
}

.bmi p {
    text-align: center;
}

#result{
    background-color: green;
    height: 50px;
    width: 320px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 1.5rem;
    border: 1px solid green;
}

#bmiChart {
    display: flex;
    gap: 0.5rem;
    margin: 10px;
    align-items: center;
}

.wt1 {
    background-color: rgb(205, 205, 12);
    height: 50px;
    width: 200px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 1.25rem;
}

.wt2 {
    background-color: green;
    height: 50px;
    width: 250px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 1.25rem;
}

.wt3 {
    background-color: orange;
    height: 50px;
    width: 200px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 1.25rem;
}

.wt4 {
    background-color: red;
    height: 50px;
    width: 200px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 1.25rem;
} */
